<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Cadastro</title>
</head>

<body>

    <nav>
        <ul>
            <li>

                <a href="/">
                    <h1>Unidades de conservação do Estado do Rio Grande do Sul</h1>
                </a>

            </li>
            <li><a href="/">Inicio</a></li>
            <li><a href="/register">Cadastro</a></li>
            <li><a href="/">Unidades</a></li>
            <li> <a href="#cards">Atualizar Unidades</a></li>

        </ul>
    </nav>
    <header>
        <img src="https://www.seine-maritime-tourisme.com/lae/public1.0/img/photos/eu/Eu-foret-1500-X-500.jpg" alt="">
    </header>
<main>
    <section id="cadastro">
        <div>
            <h2>Cadastre Uma Unidade </h2>
            <%if(message!= "" ) { %>
                <%- include('./components/alerts') %>
                    <% } %>

            <form action="/create" method="post">

                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome">

                <label for="imagem">Link da imagem:</label>
                <input type="text" id="imagem" name="imagem">

                <label for="descricao">Descrição:</label>
                <input type="text" id="descricao" name="descricao">

                <label for="visitacao">Visitação:</label>
                <input type="text" id="visitacao" name="visitacao">

                <label for="biomas">Biomas:</label>
                <input type="text" id="biomas" name="biomas">

                <label for="localizacao">Link da Localização:</label>
                <input type="text" id="localizacao" name="localizacao">

                <button onclick="cadastro()" type="submit">Cadastrar</button>
            </form>
        </div>


    </section>
</main>
    <footer>
        <p>Todos os direitos reservados para Charles Marques</p>
       <p>Dados retirados de <a href="https://sema.rs.gov.br/unidades-de-conservacao-estaduais" target="blank">https://sema.rs.gov.br/</a></p>
    </footer>
    <script src="/script.js" ></script>
</body>

</html>